@media only screen and (max-width: 620px) {
   /* For mobile phones: */
   .menu, .main, .right {
     width: 100%;
   }
 }

body{
   background-color: #222529; 
   color: aliceblue;
   
   }

html {
      scroll-behavior: smooth;
      
    }
    
button{
   background-color: #8E85E6;
}

a{
   color:aliceblue;
   gap: 20px;
 }
 
